<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXnn9ek68PcYAKxZ21w1K0irKNr1HkQAk</string>
	<key>GCM_SENDER_ID</key>
	<string>716481704554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.theWallApp</string>
	<key>PROJECT_ID</key>
	<string>wall-project-69ae3</string>
	<key>STORAGE_BUCKET</key>
	<string>wall-project-69ae3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716481704554:ios:8c2d63cd230041f254d013</string>
</dict>
</plist>